<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static "css/bootstrap.min.css" %}" rel = "stylesheet" media="screen">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <title>iPaper</title>
</head>
<body>
<form action="/" method="get">
    <p><input type="text" name="query" /></p>
    <input type="submit" value="Query" />
</form>
<div class="list-group">
    {% for paper in paper_list %}
        <div class="list-group-item">
        <p><span class="badge">{{ paper.year }}</span>  :  {{ paper.title }}</p>
        <p>{{ paper.abstract }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>